# any leftover image
*.jpg

# python cached data
__pycache__

# macOS folder file
.DS_Store

# exclude the datasets
arbori_dataset

# exclude training directory
train

# misc
__pycache__
.DS_Store
.ipynb*
.env