# test folders
classified_test_results
test_results

# pipenv related development stuff
Pipfile
Pipfile.lock

# exclude models
models

# misc
__pycache__
.DS_Store
.ipynb*
.env
.vscode
test.txt
out.txt