[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"

[packages]
opencv-python = "==4.2.0.34"
keras = "==2.3.1"
tqdm = "==4.45.0"
tensorflow = "==2.1.0"
flask = "==1.1.2"
flask-api = "==2.0"
pytesseract = "0.3.3"
keras-segmentation = "==0.3.0"

[requires]
python_version = "3.7"
